export QT_QPA_PLATFORMTHEME="qt5ct"
export XDG_CURRENT_DESKTOP=Awesome
# Monitor setup
if [ -f "$HOME/.screenlayout/layout.sh" ]; then
    # Mivel ez az X session indításakor fut, a DISPLAY már elérhető
    bash "$HOME/.screenlayout/layout.sh" &
fi

