export QT_QPA_PLATFORMTHEME="qt6ct"

# Monitor setup
if [ -f "$HOME/.screenlayout/layout.sh" ]; then
    bash "$HOME/.screenlayout/layout.sh" &
fi

# --- MPD AUTOMATIKUS INDÍTÁSA ---
if ! systemctl --user is-active --quiet mpd; then
    systemctl --user enable --now mpd &
fi
